$maxMobile:"(max-width: 767px)";
$maxSmall: "(max-width: 991px)";
$minSmall: "(min-width: 768px)";
$minMedium:"(min-width: 992px)";
$minLarg:  "(min-width: 1200px)";

$redColor:#e2494c;
$greyColor:#9c9c9c;

/* if you want change dir, set "row-revese" */
 $flex-dir:row;
 $text-right:right;
 $text-left:left;